body {
  background-color: #363d44;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.search-container {
  align-items: center;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-search-container {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.input-search {
  border: none;
  box-shadow: none;
  padding: 1rem;
  width: 100%;
}

.input-button {
  background-color: white;
  border: none;
  border-left: 1px solid rgb(207, 207, 207);
  cursor: pointer;
  padding: 1rem;
}

.input-and-button {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  display: flex;
  width: 70%;
}

.nav-header {
  background-color: #212529;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-item {
  color: rgba(255, 255, 255, 0.911);
}

.nav-item:hover {
  color: white;
}

.shopping-cart-button {
  color: white;
  font-size: 1.5rem;
}
