.form-avaliation-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.avaliation-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.103);
  padding: 1.5rem;
}

.container-avaliation-feedback {
  border: 1px solid black;
  margin: 10px 200px;
}

.feedbacks-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feedback {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.feedback img {
  width: 50px;
}

.feedbacks-text {
  color: white;
}