.product {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 0.5rem;
  width: 250px;
}

.product-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  background-color: whitesmoke;
  font-size: 15px;
  text-align: center;
}

.product-image {
  width: 100px;
}

.product-price {
  font-size: 15px;
}
