.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 0.5rem;
  width: 250px;
}

.product-title {
  background-color: whitesmoke;
  font-size: 15px;
  text-align: center;
}

.product-price {
  font-size: 15px;
}
