.product {
  border-radius: 10px;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  transition: 0.5s;
}

.product:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.274);
}

.product-price {
  font-size: 2rem;
}
