.loading-container {
  align-items: center;
  backdrop-filter: blur(50%);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: scale(2);
  width: 100%;
  z-index: 10;
}

.loading {
  animation: is-rotating 1s infinite;
  border: 6px solid #15171a;
  border-radius: 50%;
  border-top-color: #ffc3da;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}
