.footer {
  align-items: center;
  background-color: #212529;
  display: flex;
  gap: 2rem;
  height: 100px;
  justify-content: space-around;
  margin-top: 1.5rem;
  padding: 8rem;
}

.footer-devs {
  display: flex;
  flex-flow: row nowrap;
}

.footer-about h2 {
  text-align: center;
}

.dev-info {
  margin: 1rem;
}

.dev-info a {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.dev-info p {
  background: linear-gradient(35deg, #eeb0c8, #bed1de);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
