.product-details-container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  margin: 2%;
}

.product-details {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.103);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.product-details-image {
  align-self: center;
  width: 50%;
}

.product-details-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buyNow {
  background-color: #0dcaf0;
  border-radius: 0.25rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  text-align: center;
}

.header-icons {
  display: flex;
  justify-content: space-around;
}

.nav-icon {
  color: white;
  font-size: 1.5rem;
  transition: 0.5s;
}

.nav-icon:hover {
  color: #eeb0c8;
}
