.ui.button {
  margin: 0;
}

.buttons-quantity-container {
  align-items: center;
  display: flex;
}

.product-quantity {
  background-color: rgb(255, 224, 229);
  font-size: 1rem;
  font-weight: 900;
  padding: 0.6rem 1.3rem;
}
